<!--<div class="navbar-fixed" style="height: 104px">-->
<div class="navbar-fixed nav-height-offset">
  <nav id="menu" class="nav-extended">
    <div class="nav-wrapper menu" data-target="menu">
      <a routerLink="/home" class="brand-logo">Cursos CCD</a>

      <a href="#" class="sidenav-trigger" data-target="mobile-nav">
        <i class="material-icons">menu</i>
      </a>

      <ul class="right hide-on-med-and-down" >
        <li routerLinkActive="active">
          <a routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLinkActive="active" routerLink="cursos">Cursos</a>
        </li>
<!--        <li *ngIf="!authService.signedIn" routerLinkActive="active">-->
        <li *ngIf="!authService.loggedUser.signedIn" routerLinkActive="active">
          <a routerLinkActive="active" routerLink="login">Login</a>
        </li>
<!--        <li *ngIf="authService.signedIn" routerLinkActive="active" (click)="logout()">-->
        <li *ngIf="authService.loggedUser.signedIn" routerLinkActive="active" (click)="logout()">
          <a>({{authService.loggedUser.name}}) Logout</a>
        </li>
      </ul>
    </div>
    <!-- Tabs on hide -->
    <div class="nav-content show-on-small show-on-medium hide-on-med-and-up">
      <ul class="tabs tabs-transparent">
        <li class="tab" routerLinkActive="active">
          <a routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <li class="tab" routerLinkActive="active">
          <a routerLinkActive="active" routerLink="cursos">Cursos</a>
        </li>
      </ul>
    </div>

  </nav>
</div>


<ul class="sidenav" id="mobile-nav">
<!--  <li routerLinkActive="active">-->
<!--    <a routerLinkActive="active" routerLink="home">Home</a>-->
<!--  </li>-->
<!--  <li routerLinkActive="active">-->
<!--    <a routerLinkActive="active" routerLink="cursos">Cursos</a>-->
<!--  </li>-->
<!--  <li *ngIf="!authService.signedIn" routerLinkActive="active">-->
<!--    <a routerLinkActive="active" routerLink="login">Login</a>-->
<!--  </li>-->
<!--  <li *ngIf="authService.signedIn" routerLinkActive="active" (click)="logout()">-->
<!--    <a>Logout</a>-->
<!--  </li>-->

  <li *ngIf="courseContentService.sections.length > 0">
    <a class="subheader">Secciones</a>
  </li>
  <li *ngIf="courseContentService.sections.length > 0">
    <div class="divider" style="margin: 10px 0 0 0;"></div>
  </li>
  <li *ngFor="let section of courseContentService.sections; let i = index;"
      (click)="navSideSharedService.selectedSection = i"
      [ngClass]="{'active': i === navSideSharedService.selectedSection}">
      <a class="waves-effect">{{section.sectionName}}</a>
  </li>

  <li *ngIf="courseContentService.sections.length > 0">
    <div class="divider" style="margin: 10px 0 0 0;"></div>
  </li>
<!--  <li *ngIf="!authService.signedIn" routerLinkActive="active">-->
  <li *ngIf="!authService.loggedUser.signedIn" routerLinkActive="active">
    <a routerLinkActive="active" routerLink="login">Login</a>
  </li>
<!--  <li *ngIf="authService.signedIn" routerLinkActive="active" (click)="logout()">-->
  <li *ngIf="authService.loggedUser.signedIn" routerLinkActive="active" (click)="logout()">
    <a>({{authService.loggedUser.name}}) Logout</a>
  </li>

</ul>
