.btn {
  border-radius: 5px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.container {
  /*background-color: black;*/

  /* POSSIBLE FIX FOR SIDENAV */
  /*overflow: hidden!important;*/
}

@media only screen and (max-width : 992px) {
  .container {
    padding-left: 0;
  }
}
