<app-sidenav [courseId]="courseId" [sections]="sections" (ngSectionToLoad)="loadSection($event)"></app-sidenav>

<div class="row">
  <div class="col right">
    <br><br>
    <button (click)="addSection()" class="waves-effect waves-light btn custom-secondary lighten-1 animate__animated animate__fadeIn animate__faster">
      Agregar sección
      <i class="fa fa-plus left"></i>
    </button>
  </div>
</div>

<div class="container">
  <br><br>
<!--  <pre *ngIf="course">-->
<!--    {{course | json}}-->
<!--  </pre>-->

    <app-course-section *ngIf="course && sections[currentSectionIdx]"
                        [section]="sections[currentSectionIdx]"
                        [course]="course"></app-course-section>

</div>
