<app-sidenav [selectedSection]="navSideSharedService.selectedSection"
             [courseId]="courseId"
             [sections]="sections"
             (ngSectionToLoad)="loadSection($event)"
             [onNavbarEdit]="onNavbarEdit"
             class="animate__animated animate__fadeIn animate__fast"></app-sidenav>

<div class="row animate__animated animate__fadeIn animate__fast">
  <div *ngIf="authService.signedIn" class="col left-align" style="margin-top: 30px;">
    <button *ngIf="!onNavbarEdit && sections.length > 1"
            (click)="startNavbarEdit()"
            class="waves-effect waves-light btn light-blue lighten-2 animate__animated animate__fadeIn animate__faster">
      Reordenar
      <i class="fas fa-list left"></i>
    </button>
    <button  *ngIf="onNavbarEdit" (click)="endNavbarEdit()" class="waves-effect waves-light btn light-blue lighten-2 animate__animated animate__fadeIn animate__faster">
      <i class="fas fa-save"></i>
    </button>
  </div>
  <div class="col right" *ngIf="authService.signedIn" style="margin-top: 30px">
    <button (click)="addSection()" class="waves-effect waves-light btn custom-secondary lighten-1 animate__animated animate__fadeIn animate__faster">
      Agregar sección
      <i class="fa fa-plus left"></i>
    </button>
  </div>
</div>

<!--<div class="container section-content">-->
<!--<div class="container">-->
<!--    <app-course-section *ngIf="course && sections[currentSectionIdx]"-->
<!--                        [section]="sections[currentSectionIdx]"-->
<!--                        [course]="course"-->
<!--                        [sectionIdx]="currentSectionIdx"-->
<!--                        (ngSectionDeleted)="deleteSection($event)">-->
<!--    </app-course-section>-->
<div class="content">
  <app-course-section *ngIf="course && sections[navSideSharedService.selectedSection]"
                      [section]="sections[navSideSharedService.selectedSection]"
                      [course]="course"
                      [sectionIdx]="navSideSharedService.selectedSection"
                      (ngSectionDeleted)="deleteSection($event)">
  </app-course-section>
</div>
<!--</div>-->
